/*--------------------------------------- bovenkant pagina en opmaak */

body
    {
   /* background-image: url("/Website/images/Achtergrondplaat.jpg"); */
     background-image: url("images/Achtergrondplaat.jpg");


    transform: rotate(720deg);
    /* source https://codepen.io/CodeXYZ/pen/xbdxyO */
    transition: all 2s ease-in-out;
    font-family: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
}

/* kop hoofdpagina */
/* tussentitels pagina's css */

.titel {
    font-size: 40px;
    text-align: center;
    color: blue;
    background: white;
    font-family: 'Lobster', cursive;

}

/* titel hoofdpagina font kleuren */
.red {
    color: purple;
}

.white {
    color: black;
}

.blue {
    color: blue;
    text-align: center;
}

.titelh {
    font-family: 'Lobster', cursive;
    color: red;
    text-align: center;
    margin-left: 65px;
    margin-top: 50px;
}

/* */

body {
    margin: 0px;
    padding: 0px;

}

/* titel hoofdpagina css */

.intro {
    font-size: 40px;
    text-align: center;
    font-family: 'Oswald', sans-serif;

}

h1 {
    color: red;
    text-align: center;
    margin-bottom: 70px;
}

.introductie {
    text-align: center;
    font-size: 40px;
    color: blue;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: sans-serif;

}

/* navigatie bar website */

.navigation {
    list-style: none;
    margin: 0;
    background: lightgrey;
    display: flex;
    justify-content: center;

    background-color: yellow;
    /* achtergrond kleur van navigatie */
    font-family: 'Indie Flower', cursive;

}

.logoheader {
    align-self: flex-start;

}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: red;
}

.navigation a:hover {
    background: red;
    color: white;
    font-size: 20px;
    transition: all 0.3s ease-in-out
}

.acitve {
    color: red;
}



li a:hover {
    color: red;
}

index.html {
    background-image: url("../images/Achtergrondplaat.jpg") no-repeat center center fixed;
    /* geen herhaling, centeren width, centeren height, vaste positie */
    background-size: cover;
}


/* ----------------- Taarten ---------------- */

.flex-container-taarten {
    display: flex;
    /* voor het maken van een reponsive site */
    flex-wrap: wrap;
    /* verdeeld over meerdere rij */
    justify-content: center;
    /* zal altijd gecentreerd zijn op de pagina */
    margin-left: 50px;
}

.flex-container-taarten > section {
    /* opmaak van de section */
    background-color: #f1f1f1;
    width: 400px;
    height: 500px;
    margin: 10px;
    text-align: center;
}

.flex-container-taarten img {
    /* opmaak van de image */
    width: 400px;
    height: 500px;
    display: block;
}

/* text hover */
.taarten-container {
    position: relative;
    margin: 30px;
}

.taarten-container .overlay {
    /* overlay effect */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: black;
    box-shadow: 0.3em 0.3em;
}

.taarten-container:hover .overlay {
    /* overlay effect*/
    opacity: 0.8;
}

.taarten-container .text {
    /* text positie kleur, font en dat het op elke browser laad */
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
}

/* 2de taarten container voor javascript */

/* text hover */
.taarten-container2 {
    position: relative;
    margin: 30px;
    opacity: 1;
}

.taarten-container2 .overlay {
    /* overlay effect */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: black;
    box-shadow: 0.3em 0.3em;
}

.taarten-container2:hover .overlay {
    /* overlay effect*/
    opacity: 0.8;
}

.taarten-container2 .text {
    /* text positie kleur, font en dat het op elke browser laad */
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
}

/* opmaak tekst artikels */

.algemeen-section {
    margin: auto;
    width: 40%;
    background-color: white;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-family: "Arial Black", Gadget, sans-serif;
    /* fonts */
}

strong {
    font-family: "Arial Black", Gadget, sans-serif;
}


.algemeen-section p {
    /* hoogte tussen lijnen */
    line-height: 1.5;
}

.algemeen-section .algemeenimg {
    width: 100%;
    height: 100%
}

.algemeenimg:hover {
    opacity: 0.8;
    background: black;

}

/* recepten pagina grid css source: https://css-tricks.com/snippets/css/complete-guide-grid/ */

.grid-container {
    margin-left: 50px;
    margin-bottom: 100px;
    background-size: cover;
    padding: 10px 10px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(420px, 4fr));
    /* https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */
    grid-row-gap: 100px;
}

.grid-item {
    height: 250px;
    transition: .5s ease-in-out;
    width: 400px;
    box-sizing: border-box;
}

/* tekstopmaak recepten pagina */

.receptentekst {
    width: 400px;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    border-style: dotted;
}

.receptentekst:hover {
    color: hotpink;
    border-style: double;
}

.receptenbutton {
    display;
    flex;
    align-self: center;
}


.grid-item:hover {
    opacity: 0.8;
    transition: .5s ease-in-out;
    background-color: purple;
    border-style: double;


}

.grid-item img {
    height: 250px;
    width: 400px;
    box-sizing: border-box;
    border-style: dotted;
    color: blueviolet;
}

/* Searchbar recepten */

.show-search {
    background: Green;
}


.zoeken {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;

}

.zoek {
    border-style: dotted;
    color: hotpink;
}

.zoekveld {
    height: 40px;
    font-size: 20px;
    width: 400px;
}

.zoek:hover {
    border-style: dashed;
    color: crimson;
}

/* dropdown recepten */

.receptendd {
    display: flex;
    justify-content: center;
    margin: 75px;

}

.receptenddtekst {
    width: 300px;
    height: 40px;
    border-style: dotted;
    color: hotpink;
    font-size: 22px;
    text-align: center;
}

.receptenddtekst:hover {
    border-style: dashed;
    color: crimson;
}


/* formulier css */


.form {
    text-align: center;
    display: flex;
    height: 600px;
    background-color: hotpink;
    justify-content: center;
    align-self: flex-start;
    box-shadow: 0.2em 0.2em;
    box-sizing: border-box;


}


form {
    width: 2000px;
    height: 500px;
    margin: auto;

}

input {
    width: 40%;
    height: 2em;

}


legend {
    padding: 10px;
    display: flex;
    justify-content: center;
}


/* koptekst form */
h3 {
    font-size: 35px;
    text-align: center;
}

h3:hover {
    font-family: 'Lobster', cursive;
    font-size: 50px;
}



/* form button css */

.formbutton {
    width: 10%;
    height: 3em;
    font-size: 13px;
    background: rgba(78, 255, 56);
    border-style: double;
}

/* media qeuries form */

@media screen and (max-width: 750px) {
    .formbutton {
        font-size: 10px;
        width: 20%;
    }
}


.formbutton:hover {
    opacity: 0.5;
    font-size: 15px;
    font-family: 'Lobster', cursive;
}

@media screen and (max-width: 750px) {
    .formtekst {
        font-size: 25px;
    }

    .input {
        width: 25%;
    }
}

@media screen and (max-width: 750px) {
    h3:hover {
        font-size: 30px;
    }
}
